
@import "tailwindcss";

@theme {
  /* ประกาศชื่อฟอนต์ลงในระบบของ Tailwind v4 */
  --font-itim: "Itim", cursive;
}

.font-sans {
  font-family: "Itim", cursive !important;
}



/* บังคับให้ทั้งเว็บใช้ฟอนต์นี้ */
@layer base {
  html, body {
    font-family: "Itim", cursive !important;
  }
}

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
